[Desktop Entry]
Name=idTech4A++ (Harmattan Edition) Prey
Comment=idTech4A++ (Harmattan Edition) Prey
Exec=idtech4a-prey
Terminal=false
Type=Application
Categories=Game;
Icon=idtech4a-prey
