#!/bin/ksh
#
# $OpenBSD: vnu.rc,v 1.1.1.1 2018/09/10 06:50:04 bentley Exp $

daemon="${TRUEPREFIX}/share/yacy/lib/yacycore.jar"
daemon_user="_yacy"
#daemon_flags="8888"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

pexp="$(${LOCALBASE}/bin/javaPathHelper -c yacy) -cp ${daemon} net.yacy.yacy ${daemon_flags}"

rc_start() {
	cd "${TRUEPREFIX}/share/yacy" && ${rcexec} "$(${LOCALBASE}/bin/javaPathHelper -c yacy) -cp ${daemon} net.yacy.yacy ${daemon_flags}"
}

rc_cmd $1
