#!/bin/sh
#
# $OpenBSD: supervisord.rc,v 1.1.1.1 2013/08/10 13:39:27 landry Exp $

daemon="${TRUEPREFIX}/bin/supervisord"
daemon_flags="-c ${SYSCONFDIR}/supervisord.conf --pidfile /var/run/supervisor/supervisord.pid"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=YES

rc_cmd $1
