fcp.enabled=true
fcp.port=9481
fproxy.advancedModeEnabled=true
fproxy.css=clean
fproxy.enabled=true
fproxy.port=8888
logger.dirname=/var/freenet/logs
logger.interval=24HOUR
logger.priority=ERROR
pluginmanager.loadplugin=FlogHelper;Freemail_wot;Freereader;JSTUN;KeepAlive;KeyUtils;Library;MDNSDiscovery;Sharesite;SNMP;Spider;ThawIndexBrowser;UPnP;UPnP2;WebOfTrust
node.clientThrottleFile=/var/freenet/user/client-throttle.dat
node.downloadAllowedDirs=all
node.downloadsDir=/var/freenet/downloads
node.install.cfgDir=/var/freenet/conf
node.install.nodeDir=/var/freenet/noderef
node.install.persistentTempDir=/var/freenet/persistent-temp
node.install.pluginDir=/var/freenet/plugins
node.install.pluginStoresDir=/var/freenet/plugins/data
node.install.runDir=/var/freenet
node.install.storeDir=/var/freenet/user/data
node.install.tempDir=/var/freenet/tmp
node.install.userDir=/var/freenet/user
node.load.nodeThrottleFile=/var/freenet/user/node-throttle.dat
node.masterKeyFile=/var/freenet/user/master.keys
node.skipWrapperWarning=true
node.updater.autoupdate=false
node.updater.enabled=false
node.updater.updateInstallers=false
node.updater.updateSeednodes=true
node.uploadAllowedDirs=all
security-levels.networkThreatLevel=HIGH
security-levels.physicalThreatLevel=NORMAL
ssl.sslKeyStore=/var/freenet/user/certs
