#!/bin/sh
#
# $OpenBSD:$

daemon="${TRUEPREFIX}/bin/bitcoind"
daemon_user="_bitcoind"
pid_file="/var/run/bitcoind/bitcoind.pid"
data_dir="/var/bitcoin"
daemon_flags="-daemon -conf=/etc/bitcoin.conf -datadir=${data_dir} -pid=${pid_file}"


. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
    install -d -o $daemon_user /var/run/bitcoin
}

rc_stop() {
    ${TRUEPREFIX}/bin/bitcoin-cli stop
}

rc_cmd $1
