#!/bin/ksh
#
# $OpenBSD: go_ipfs.rc,v 1.2 2018/12/18 14:56:13 edd Exp $

daemon="${TRUEPREFIX}/bin/headscale"
daemon_logger="daemon.info"
daemon_user="_headscale"
daemon_flags="serve"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
