#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/bin/tapper-mcp-messagereceiver"
daemon_user="mcp-messagereceiver_user"

. /etc/rc.d/rc.subr

pexp="perl: ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_start() {
        ${rcexec} "hypnotoad ${daemon} ${daemon_flags} ${_bg}"
}

rc_stop() {
        ${rcexec} "hypnotoad --stop ${daemon} ${daemon_flags} ${_bg}"
}

rc_cmd $1
