#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/sbin/rmilter"
daemon_flags="-c ${SYSCONFDIR}/rmilter.conf"
daemon_user="_rmilter"

. /etc/rc.d/rc.subr

#pexp="/usr/bin/perl -w ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_pre() {
	/usr/bin/install -d -o ${daemon_user} /var/run/rmilter
}

rc_reload() {
        pkill -USR1 -T "${daemon_rtable}" -xf "${pexp}"
}

rc_cmd $1
