#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/bin/motion"
daemon_user="_motion"

. /etc/rc.d/rc.subr

#pexp="/usr/bin/perl -w ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_pre() {
	install -d -o _motion /var/run/motion
}

rc_cmd $1
