#!/bin/ksh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/bin/lbrynet"
daemon_user="_lbrynet"
daemon_flags="start --data-dir data --wallet-dir wallet --download-dir downloads"

. /etc/rc.d/rc.subr

rc_reload=NO
rc_bg=YES

rc_cmd $1
