#dns_name="tasktools.org"
#ipaddrs="97.107.141.107 10.20.30.40"
dns_name="`hostname`"
ipaddrs=$(for ip in `ifconfig -A | awk '/inet/ {print $2}' | egrep -v '(^::1$|^fe80:|^127\.)'` ; do
        echo -n "$ip "
done)
bits=4096
expiration_days=365
organization="Göteborg Bit Factory"
cn="Göteborg Bit Factory"
country=SE
state="Västra Götaland"
locality="Göteborg"
