#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/bin/tapper-reports-api"
daemon_flags="--background"
daemon_user="reports-api"
rc_reload=NO

. /etc/rc.d/rc.subr

pexp="/usr/bin/perl ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_cmd $1
