#!/bin/sh
#
# $OpenBSD: ejabberd.rc,v 1.3 2011/07/08 04:31:57 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/ejabberdctl"
daemon_user="_ejabberd"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_check() {
	# return 1 is needed: ejabberdctl returns a higher error code on failure
	${TRUEPREFIX}/sbin/ejabberdctl status || return 1
}

rc_start() {
	${TRUEPREFIX}/sbin/ejabberdctl start
}

rc_stop() {
	${TRUEPREFIX}/sbin/ejabberdctl stop
}

rc_cmd $1
