[Desktop Entry]
Name=RBDoom3BFG Vulkan
Comment=A modernization effort of DOOM-3-BFG
Exec=rbdoom3bfg
Terminal=false
Type=Application
Categories=Game;
Icon=rbdoom3bfg